html {
  margin: 20px;
  background: url(../../assets/matrix.gif) no-repeat center center fixed;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-color: #000000;
}
