@keyframes fadein {
  100% {
    opacity: 1;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: #fff;
  color: #283246;
}

body {
  font-family: "system-ui", "Segoe UI", "Roboto", "Helvetica", "Arial",
    "sans-serif", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: calc(1rem + 0.5vw);
  height: 100vh;
  line-height: 1.5;
}

a {
  color: #fff;
}

section {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: calc(1rem + 1vw);
}

section p {
  max-width: 60rem;
  text-align: center;
}

section:not(.top):nth-child(odd) {
  background: #28E494;
  background: -webkit-radial-gradient(bottom, #28E494, #283246);
  background: -moz-radial-gradient(bottom, #28E494, #283246);
  background: radial-gradient(to top, #28E494, #283246);
  color: #fff;
}

section:not(.top):nth-child(even) {
  background-color: #fff;
  color: #283246;
}

.nav {
  align-items: center;
  background-color: #283246;
  box-shadow: 0px 1px 1px #333333;
  display: flex;
  font-weight: 700;
  justify-content: space-between;
  overflow: hidden;
  padding: calc(0.25rem + 0.25vw) calc(0.25rem + 0.25vw);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.nav svg {
  font-size: calc(1rem + 0.5vw);
  margin: 0 calc(0.25rem + 0.25vw);
}

.nav a {
  opacity: 0.7;
  text-decoration: none;
}

.nav a:hover {
  opacity: 1;
}

.nav .right a {
  font-size: calc(1rem + 0.5vw);
  letter-spacing: calc(0.1rem + 0.1vw);
  margin: 0 calc(0.25rem + 0.25vw);
  text-decoration: none;
  text-transform: uppercase;
}

@media (min-width: 50em) {
  .nav svg {
    font-size: 18px;
  }
  .nav .right a {
    font-size: 18px;
  }
}

.nav .left {
  justify-content: flex-start;
}

.nav .left i {
  margin: 0 calc(0.25em + 0.25vw);
}

.top {
  justify-content: center;
  background-color: #ffffff;
background-image: url("data:image/svg+xml,%3Csvg width='84' height='48' viewBox='0 0 84 48' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h12v6H0V0zm28 8h12v6H28V8zm14-8h12v6H42V0zm14 0h12v6H56V0zm0 8h12v6H56V8zM42 8h12v6H42V8zm0 16h12v6H42v-6zm14-8h12v6H56v-6zm14 0h12v6H70v-6zm0-16h12v6H70V0zM28 32h12v6H28v-6zM14 16h12v6H14v-6zM0 24h12v6H0v-6zm0 8h12v6H0v-6zm14 0h12v6H14v-6zm14 8h12v6H28v-6zm-14 0h12v6H14v-6zm28 0h12v6H42v-6zm14-8h12v6H56v-6zm0-8h12v6H56v-6zm14 8h12v6H70v-6zm0 8h12v6H70v-6zM14 24h12v6H14v-6zm14-8h12v6H28v-6zM14 8h12v6H14V8zM0 8h12v6H0V8z' fill='%23283246' fill-opacity='0.05' fill-rule='evenodd'/%3E%3C/svg%3E");
  min-height: 100vh;
  position: relative;
  text-align: center;
  z-index: -1;
}

.top-content {
  animation: fadein 1s ease-in 0.25s forwards 1;
  letter-spacing: calc(0.25rem + 0.25vw);
  opacity: 0;
  z-index: 1;
}

.shadow {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5), 0px 8px 8px rgba(0, 0, 0, 0.2),
    0px 12px 12px rgba(0, 0, 0, 0.2);
}

.quote {
  font-style: oblique 20deg;
  font-size: calc(1rem + 1vw);
  font-weight: 400;
  max-width: 100%;
  color: #353b48;
}

.author {
  font-size: calc(0.5rem + 0.5vw);
  max-width: 100%;
  padding: calc(1rem + 1vw) 0;
  color: #353b48;
}

.img-circle {
  border-radius: 10px/30px;
  border: 1px solid #353b48;
  display: block;
  margin: calc(0.75rem + 0.25vw) auto calc(0.25rem + 0.25vw);
  width: 140px;
  height: auto;
}

.img-testimonial {
  border-radius: 5px 20px 5px;
  border: 1px solid #353b48;
  display: block;
  margin: calc(0.25rem + 0.25vw) auto;
  width: 50px;
  height: auto;
}

.img-testimonial:hover {
  border: 1px solid #fff;
}

.textblock {
  /* font-style: normal; */
  font-size: calc(1rem + 0.5vw);
  letter-spacing: calc(0.1rem + 0.1vw);
  margin: calc(1rem + 0.5vw);
  text-align: left;
}

ul {
  list-style: none;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.flex .grid li {
  padding: calc(1rem + 1vw);
  flex-basis: 50%;
  text-align: center;
}

.flex .grid li i {
  color: #283246;
}

.flex .grid li h3 {
  letter-spacing: calc(0.05rem + 0.05vw);
  margin: calc(1rem + 0.5vw) 0 0;
}

.flex .grid li h3.dark {
  color: #353b48;
}

.flex .grid li h3.about-heading {
  margin: calc(0.5rem + 0.5vw) 0 calc(1rem + 0.25vw);
}

.flex .grid li h4 {
  font-style: oblique 20deg;
  font-weight: 400;
  letter-spacing: calc(0.05rem + 0.05vw);
  margin: calc(0.25rem + 0.25vw) 0 calc(1rem + 0.5vw);
}

.flex .grid li p {
  padding: 0;
  margin-left: 0;
  margin-right: 0;
  max-width: 100%;
  width: auto;
}

.flex .grid li p.dark {
  color: #353b48;
}

@media screen and (max-width: 600px) {
  .nav {
    flex-direction: column;
  }

  .nav .left {
    margin-bottom: calc(0.5rem + 0.5vw);
    margin-top: calc(0.25rem + 0.25vw);
  }

  .flex .grid li {
    flex-basis: 100%;
  }

  .flex .grid li h3.about-heading {
    margin: calc(0.5rem + 0.5vw) 0 calc(1rem + 0.5vw);
  }
}
