body {
    font-family: 'Source Code Pro', monospace;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.quote {
  font-style: italic;
}

.attribution {
  text-align: right;
}
